

.fondo1RM {
    background-image: url(../archivos/img/ronnie-messi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTxt {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid black;
    overflow: hidden;
    margin-left: 100px;
    z-index: 1;
    margin-top: -30px;
  }
  @media screen and (max-width: 900px) {
    .containerTxt {
      margin-left: 0px;
    }
  }
.trasnpB_fondo {
    background-color: rgb(66, 85, 142);
    padding: 10px;
  }
  
  .trasnpR_fondo {
    background-color: rgb(189, 58, 58);
    padding: 10px;
    border: 10px solid rgb(0, 11, 82);
  }
.separador {
    margin-top: 80px;
    padding: 10px;
  }
  
  .izq {
    margin-top: 200px;
    margin-left: 230px;
  }
  @media screen and (max-width: 600px) {
    .izq {
      margin-left: 0px;
    }
  }
  
  .der {
    margin-top: 50px;
    margin-right: 50px;
  }
  @media screen and (max-width: 600px) {
    .der {
      margin-right: 0px;
    }
  }
  
  .grid1 {
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
  }
  .grid1 .div1 {
    grid-area: 1/1/2/2;
  }
  .grid1 .div2 {
    grid-area: 1/2/2/3;
  }
  @media screen and (max-width: 600px) {
    .grid1 {
      margin-left: 8px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    .grid1 .div1 {
      grid-area: 1/1/2/2;
    }
    .grid1 .div2 {
      grid-area: 2/1/3/2;
    }
  }
  
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
  }
  .grid2 .div1 {
    grid-area: 1/1/2/2;
  }
  .grid2 .div2 {
    grid-area: 2/1/3/2;
  }
  .grid2 .div3 {
    grid-area: 1/2/3/3;
  }
  @media screen and (max-width: 600px) {
    .grid2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    .grid2 .div1 {
      grid-area: 1/1/2/2;
    }
    .grid2 .div2 {
      grid-area: 2/1/3/2;
    }
    .grid2 .div3 {
      grid-area: 3/1/4/2;
    }
  }
  
  .grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
  .grid3 .div1 {
    grid-area: 1/1/2/2;
  }
  .grid3 .div2 {
    grid-area: 1/2/2/3;
  }
  @media screen and (max-width: 600px) {
    .grid3 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    .grid3 .div1 {
      grid-area: 2/1/3/2;
    }
    .grid3 .div2 {
      grid-area: 1/1/2/2;
    }
  }
  
  .title-box {
    background-color: #0d0583;
    padding: 10px;
    width: 40%;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1000px) {
    .title-box {
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  
  .title-boxH3 {
    background-color: #cc0808;
    padding: 10px;
    width: 25%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1000px) {
    .title-boxH3 {
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  
  .custom-title {
    font-size: 50px;
    margin: 0;
    transform: translate(80px);
    color: white;
  }
  @media screen and (max-width: 1000px) {
    .custom-title {
      font-size: 30px;
      transform: translate(0px);
    }
  }
  
  .customTEXT {
    padding: 40px;
    overflow: hidden;
    height: -moz-fit-content;
    height: fit-content;
    border: 10px solid rgba(4, 4, 112, 0.847);
  }
  