* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: DELI;
  src: url(../archivos/fonts/Deli.otf);
}
h1 {
  text-align: center;
  padding-top: 35px;
  font-family: DELI;
}

.hh2 {
  color: aliceblue;
  font-family: sans-serif;
  text-align: center;
}

.headerlarger {
  color: white;
  width: 390px;
  margin-left: 50px;
}
@media screen and (max-width: 1000px) {
  .headerlarger {
    margin-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .headerlarger {
    width: 75%;
    margin-left: 30px;
  }
}

body {
  overflow-x: hidden;
}

nav {
  margin-top: 40px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.479);
}

.body-total {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../archivos/img/messi.jpg);
}

.body-bar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../archivos/img/messibar.jpg);
}

.body-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)), url(../archivos/img/messicopa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .body-home {
    width: 110%;
    background-size: 100% 100%;
    height: 500px;
  }
}

.stats {
  width: 578px;
  padding: 10px;
}

.clase {
  margin-right: 45px;
  font-size: 27px;
  color: aliceblue;
  text-align: left;
  padding-left: 10px;
  border-radius: 20px;
}

.lar {
  width: 676px;
}

.cor {
  padding-left: 25px;
  height: 20px;
  padding-bottom: 1px;
  font-size: 20px;
  margin-left: 20px;
}

.section1 {
  height: 900px;
  margin-top: 80px;
}

footer {
  background-color: black;
  border-radius: 10px;
}

ul {
  list-style: none;
}

.dd {
  display: inline-block;
}

.vid {
  margin-top: 50px;
  width: 560px;
  height: 315px;
  text-align: center;
}

.container-video {
  text-align: center;
  padding-top: 20px;
}

.borders {
  border-radius: 10px;
}

.bluee {
  background-color: rgba(13, 67, 117, 0.384);
}

.redd {
  background-color: rgba(117, 13, 13, 0.349);
}

.verdd {
  background-color: rgba(13, 117, 44, 0.349);
}

.nar {
  background-color: rgba(150, 88, 17, 0.356);
}

.vio {
  background-color: rgba(48, 8, 75, 0.397);
}

.celest {
  background-color: rgb(180, 224, 226);
}

.blanco_fondo {
  background-color: white;
}

.whit {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.grid1 {
  margin-left: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
}
.grid1 .div1 {
  grid-area: 1/1/2/2;
}
.grid1 .div2 {
  grid-area: 1/2/2/3;
}
@media screen and (max-width: 400px) {
  .grid1 {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .grid1 .div1 {
    grid-area: 1/1/2/2;
  }
  .grid1 .div2 {
    grid-area: 2/1/3/2;
  }
}

.title-box {
  background-color: #0d0583;
  padding: 10px;
  width: 40%;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  .title-box {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.custom-title {
  font-size: 50px;
  margin: 0;
  transform: translate(80px);
  color: white;
}
@media screen and (max-width: 1000px) {
  .custom-title {
    font-size: 30px;
    transform: translate(0px);
  }
}

.transparent-progress {
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  .navv {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .grid-container {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  footer {
    height: 10%;
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
  }
  main {
    padding-bottom: 55%;
  }
  nav {
    background-color: rgba(0, 0, 0, 0.671);
  }
}/*# sourceMappingURL=style.css.map */