*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: DELI;
    src: url(../archivos/fonts/Deli.otf);
}
.style1t{
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
}
h1 {
    text-align: center;
    padding-top: 35px;
    font-family: DELI;
    color: white;
}
.hh2{
    color: aliceblue;
    font-family: sans-serif;
    text-align: center;
}

.headerlarger{
    color: white;
    width: 300px;
    margin-left: 50px;
    @media screen and (max-width:1000px){
        margin-left: 20px;
    }
    @media screen and (max-width:400px){
        width: 75%;
        margin-left: 30px;
    }
}
body {
    overflow-x: hidden;
  }
nav{
    margin-top: 40px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.479);
}
.body-total{
    background-color: #cde1ec70; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}
    
.body_arg{
    background-image:linear-gradient(hsla(209, 79%, 16%, 0.5), rgba(27, 57, 114, 0.5)), url(../archivos/img/fondoarg.jpg); 
    background-color: #cde1ec70; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    @media screen and (max-width:1000px){
        background-image:linear-gradient(hsla(209, 79%, 16%, 0.5), rgba(27, 57, 114, 0.5)), url(../archivos/img/fondoarg2.png); 
        background-color: #cde1ec70; 
        background-repeat: repeat;
        background-size: 100% 54%;
    }
}
.body-bar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../archivos/img/messibar.jpg);
    @media screen and (max-width:1000px){
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../archivos/img/fondobar2.png);
        background-size: 100% 54%;
        background-repeat: repeat;
    }
}
.body_psg{
    background-image:linear-gradient(rgba(33, 9, 73, 0.527), rgba(33, 9, 73, 0.527)), url(../archivos/img/fondopsg.jpg); 
    background-color: #cde1ec70; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    @media screen and (max-width:1000px){
        background-image:linear-gradient(rgba(33, 9, 73, 0.527), rgba(33, 9, 73, 0.527)), url(../archivos/img/fondopsg2.png); 
        background-color: #cde1ec70; 
        background-repeat: repeat;
        background-size: 100% 53%;
    }

}

.body-home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)), url(../archivos/img/messicopa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    @media screen and (max-width:1000px){
        width: 100%;
        background-size: 100% 100%;
        height: 500px;
    }
}
.separador2 {
    margin-top: 80px;
    padding: 10px;
  }
  .separador3 {
    margin-top: 600px;
    padding: 10px;
  }
.stats {
    width: 80%
}
.clase {
    font-size: 27px;
    color: aliceblue;
    text-align: left;
    padding-left: 10px;
    border-radius: 20px;
}
.lar{
    width: 80%;
}
.cor{
    padding-left: 25px;
    width: 60%;
    font-size: 20px;
    margin-left: 20px;
}
.section1{
    height: 900px;
    margin-top: 80px;
}

footer {
    background-color: black;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}
    

ul{
    list-style: none;
}
.dd{
    display: inline-block;
}
.vid{
    margin-top: 50px;
    width:560px;
    height:315px;
    text-align: center;
}
.container-video{
    text-align: center;
    padding-top: 20px;
}
.borders{
    border-radius:10px;
}

//Colores 
.bluee{
    background-color: rgba(13, 67, 117, 0.521)
}
.redd{
    background-color: rgba(117, 13, 13, 0.562)
}
.verdd{
    background-color: rgba(13, 117, 44, 0.493)
}
.nar{
    background-color: rgba(150, 88, 17, 0.534);
}
.vio{
    background-color: rgba(48, 8, 75, 0.651);
}
.celest{
    background-color: rgb(180, 224, 226);
}
.blue_fondo{
    background-color: rgb(21, 35, 89);
}
.rojoS{
    background-color: #cc0808;
}

.whit{
    color: white;
}
.blancoF{
    background-color: white;
}
.blanco_trans{
    background-color: rgba(250, 234, 234, 0.803);
}
//Fin Colores
.grid-container{
    display: grid;
    grid-template-columns:  2fr 2fr;
}
//Acomodadores

  //
.transparent-progress {
    background-color: transparent;
  }

@media screen and (max-width:1000px){
    .navv{
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .grid-container {
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    main{
        padding-bottom: 0px;
    }
    nav{
        background-color: rgba(0, 0, 0, 0.671);
    }
}
.parent {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    .div1i { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div1 img{
        width: 100%;
        height: 560px;
    }

    @media screen and (max-width:900px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
    }
    }
